.PickerBand-root {
  background-color: #2196F3;
  color: white;
  border-radius: 2em;
  float: left;
  font-family: Roboto;
  font-weight: 700;
  position: absolute;
}

.PickerBand-element {
  display: inline-block;
  padding: 1em;
  border-radius: 2em;
}

.PickerBand-element:hover {
  background-color: #1E88E5;
  cursor: pointer;
}
